* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
.wrap {
    max-width: 1440px;
    margin: 0 auto;

    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.container {
    width: 65%;
    margin: 0 auto;
}
/* Header */
.header__background {
    background: url(../img/background/background-header.jpg) no-repeat center/cover;
}
.logo-white {
    padding-top: 40px;
}
.header__title {
    margin: 4.8em 0 0.3em;

    font-family: 'Bebas Neue', cursive;
    font-size: calc(30px + 2.5vw);
    font-weight: 400;
    letter-spacing: 5.70937px;
    text-transform: uppercase;
    color: #ffffff;
}
.header__text {
    margin-bottom: 12em;

    font-weight: 600;
    font-size: calc(4px + 1vw);
    color: #ffffff;
}
.header__link__content {
    padding-bottom: 4em; 
}
.header__link {
    font-weight: 600;
    font-size: calc(2px + 0.7vw);
    letter-spacing: 3.7px;
    text-transform: uppercase;  
    text-decoration: none;
    color: #FFFFFF;
}
.header__link:hover {
    color: #00a4e5;
}
/* gamburger-menu */
.gamburger-menu {
    display: none;
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 20vh;
    width: 50px;
    height: 3px;

    background-color: #000000;
}
.gamburger-menu::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 6px;
    transform: translate(-6px);
    width: 50px;
    height: 3px;
    background-color: #000000;
}
.gamburger-menu::after {
    content: '';
    position: absolute;
    top: 20px;
    left: -6px;
    transform: translate(6px);
    width: 50px;
    height: 3px;
    background-color: #000000;
}
.nav-bar {
    border-bottom: 1px solid #E6E6E6;
}
.nav-bar__content {
    display: flex;
    justify-content: space-between;

    padding: 25px 0px;
}
.nav-bar__list {
    display: flex;
    justify-content: flex-start;
}
.nav-bar__item {
    list-style: none;
}
.nav-bar__link {
    padding-left: 24px;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.09091px;
    color: #48555B;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-bar__link:hover {
    color: #00a4e5;
}
/* Main */
.main-story {
    display: flex;
    flex-flow: wrap;
}
.main-story__subtitle {
    position: relative;
    padding-top: 3.6em;
    width: 100%;

    font-weight: 700;
    font-size: calc(3px + 1.1vw);
    letter-spacing: 2.30625px;
    text-transform: uppercase;
    color: #000000;
} 
.main-story__subtitle::after {
    position: absolute;
    top: 5.5em;

    content: '';
    display: inline;
    width: calc(25px + 2vw);
    margin-left: -4.7em;
    
    border-bottom: 2px solid #00A4E5;
}
.main-story__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 119px;
}
.main-story__left {
    width: calc(300px + 2vw);
    padding: 0 0 0 0;
    margin-right: 153px;

    text-align: left;
}
.main-story__left__subtitle {
    padding-bottom: 1.9em;
    
    font-size: calc(2.8px + 0.9vw);
    color: #48555B;
}
.main-story__left__subtitle-word {
    text-decoration: none;
}
.main-story__left__subtitle-word:hover {
    color: #00a4e5
}
.main-story__left__text {
    padding-right: 3.5em;

    font-weight: 400;
    font-size: calc(2px + 0.6vw);
    letter-spacing: 0.1875px;
    color: #48555B;
}
.main-story__right {
    display: flex;
    flex-wrap: wrap;
}
.main-story__right__img { 
    margin-left: 15px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 800;
    font-size: 25px;
    color: #FFFFFF;
}
.main-story__right__img--plan {
    padding: 18px 3px 0 18px;
    width: 135px;
    background: url(../img/story/plan.jpg) no-repeat; 
}
.main-story__right__img--manage {
    padding: 18px 0 0 5px;
    width: 135px;
    background: url(../img/story/manage.jpg) no-repeat;
}
.main-story__right__img--build { 
    padding: 18px 0 0 18px;
    width: 135px;
    background: url(../img/story/building.jpg) no-repeat;
}
.main-story__right__text {
    padding-bottom: 138px;
}
/* Features section */
.services__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;

    text-align: left;
}
.services__header-title{
    position: relative;

    padding-right: 4em;

    font-weight: 700;
    font-size: calc(3px + 1vw);
    letter-spacing: 2.30625px;
    text-transform: uppercase;
    color: #48555B;
}
.services__header-title::after {
    position: absolute;
    top: 35px;

    content: '';
    display: inline;
    align-content: center;
    width: calc(25px + 2vw);
    margin-left: -11em;
    
    border-bottom: 2px solid #00A4E5;
}
.services__header-text{
    width: 400px;
    
    font-weight: 400;
    font-size: calc(2px + 0.6vw);
    letter-spacing: 0.2px;
    color: #48555B;
}
.services__header__button {
    padding-left: 32px;
}
.button {
    padding: 0.7em 2.2em 0.8em ;

    font-weight: 600;
    font-size: calc(6px + 0.5vw);
    text-transform: uppercase;
    color: #ffffff;
    
    background: #00A4E5;
    border-width: 0;
    outline: none;
}
.services__content {
    display: flex;
    justify-content: space-between;
}
.services__card--img-management {
    background: url(../img/services/project.png) 23px 20px no-repeat;
}
.services__card--img-structure {
    background: url(../img/services/structure.png) 23px 20px no-repeat;
}
.services__card--img-factory {
    background: url(../img/services/construction.png) 23px 20px no-repeat;
}
.services__card{
    width: 295px;
    padding: 95px 23px 30px;

    border: 1px solid #e6e6e6;
    border-radius: 2px;
    background-size: 55px;
}
.services__card-title {
    padding-bottom: 13px;
    
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    color: #48555B;
}
.services__card-text {
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    color: #48555B;
}
/* Contact */
.contact__background {
    background: url(../img/background/background-mailing.jpg) no-repeat center/cover;
}
.contact__subtitle {
    width: 350px;
    margin: 0 auto;
    padding: 120px 0px 20px;
    

    font-weight: 700;
    font-size: 30px;
    color: #48555B;
}
.contact__button {
    padding-bottom: 231px;
}
.mailing {
    background-color: #000000;
}
.mailing__content {
    display: flex;
    justify-content: space-around;
    padding: 35px 0px;
}
.mailing__subtitle {
    padding-left: 65px;

    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.846154px;
    text-transform: capitalize;
    color: #ffffff;
}
.mailing__form {
    padding-right: 65px;

    font-size: 0px;
}
.mailing__input {
    padding: 0.7em 7.8em 0.7em 0.9em;

    font-weight: 400;
    font-size: calc(6px + 0.5vw);
    color: #48555B;

    border-width: 0;
    border-bottom: 1px solid #d4d0d0;
    outline: none;
}
/* Footer */
.footer {
    background-color: #000000;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    padding: 42px 0px 50px 0px;
}
.footer__company {
    padding-right: 10px;
    text-align: left;
}
.footer__title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.846154px;
    text-transform: uppercase;
    color: #ffffff;
}
.footer__text {
    margin-top: 17px;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.846154px;
    color: #ffffff;
}
.footer__links__content {
    display: flex;
    justify-content: space-between;

    text-align: left;
}
.footer__links__list {
    list-style: none;
}
.footer__link {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.846154px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
} 
.footer__links__right,
.footer__links__center {
    margin-top: 35px;
    padding-left: 35px;
}
.footer__links__left {
    padding-left: 71px;
}                            
.footer__links__contact {
    padding-left: 70px;
    text-align: left;
}
.footer__links__contact-list {
    list-style: none; 
}
.footer__links__contact-item{
    margin-bottom: 10px;
}
.footer__links__contact-link{
    text-decoration: none;
}
.footer__links__social-list {
    width: 170px;
    margin-top: 42px;

    list-style: none; 
}
.footer__links__social-item {
    display: inline;

    margin-left: 10px;
}
.footer__links__social-link {
    display: inline-block;
    height: 14px;
    width: 14px;

    text-decoration: none;

    background: url(../img/socials-logo.png) no-repeat;
}
.footer__links__social-link--twitter {
    background-position: -36px 0;
}
.footer__links__social-link--google {
    background-position: -73px 0;
}
.copyright {
    background-color: #000000
}
.copyright__text {
    padding: 23px 0px;

    font-weight: 400;
    font-size: 11px;
    color: #ffffff;
}